{% extends 'webinterface/base.html' %}
{% load static %}
{% load staticfiles %}
{% load i18n %}
{% block extrahead %}
<style>
    .demo-container {
        width: 100%;
        max-width: 350px;
        margin: 50px auto;
    }
    form {
        margin: 30px;
    }
</style>
{% endblock %}
{% block content %}
    <h1 class="cover-heading danger">Your balance</h1>
    <p class="lead">Card <em>{{ number }}</em> has {{ balance }}</p>
    <p>{% now "jS F Y H:i" %}</p>
    <p class="lead">
        <a href="javascript:history.back()" class="btn btn-lg btn-default">Back</a>
        <a href="{% url 'webinterface:exit' %}" class="btn btn-lg btn-warning">Exit</a>
    </p>
{% endblock %}
