{% load static %}
{% load staticfiles %}
{% load i18n %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% trans "Cash Machine" %}</title>

    <!-- start: Mobile Specific -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- end: Mobile Specific -->

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="{% static 'webinterface/favicon.ico' %}"/>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'webinterface/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">

    <!-- Custom CSS -->
    <link href="{% static 'webinterface/css/style.css' %}" rel="stylesheet" type="text/css">

    {% block extrahead %}
    {% endblock %}

</head>
<body>
    <div class="site-wrapper">
        <div class="site-wrapper-inner">
            <div class="cover-container">
                <div class="masthead clearfix">
                    <div class="inner">
                        <h3 class="masthead-brand">{% trans "Cash Machine" %}</h3>
                    </div>
                </div>

                <div class="inner cover">
                    {% block content %}{% endblock %}
                </div>

                <div class="mastfoot">
                    <div class="inner">
                        <p>Powered by <a href="http://getbootstrap.com">Bootstrap</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- start: JavaScript-->
    <!-- jQuery -->
    <script src="{% static 'webinterface/js/jquery.min.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'webinterface/js/bootstrap.min.js' %}" type="text/javascript"></script>

    {% block javascript_bottom %}
    {% endblock %}
</body>
</html>
