{% extends 'webinterface/base.html' %}
{% load static %}
{% load staticfiles %}
{% load i18n %}
{% block extrahead %}
<style>
    .demo-container {
        width: 100%;
        max-width: 350px;
        margin: 50px auto;
    }
    form {
        margin: 30px;
    }
</style>
{% endblock %}
{% block content %}
    <h1 class="cover-heading danger">
    {% if error == "NOT_FOUND" %}CARD NOT FOUND
    {% elif error == "BLOCKED" %}CARD BLOCKED
    {% elif error == "BADPIN" %}INCORRECT PIN
    {% elif error = "NOTAUTH" %}NOT AUTHENTICATED
    {% elif error = "EXCESS" %}INSUFFICIENT FUNDS
    {% endif %}
    </h1>
    <p class="lead">
        <a href="javascript:history.back()" class="btn btn-lg btn-default">Back</a>
    </p>
{% endblock %}
