<div id="keypad">
    <div class="keys">
        <span id="7">7</span>
        <span id="8">8</span>
        <span id="9">9</span>
        <span id="4">4</span>
        <span id="5">5</span>
        <span id="6">6</span>
        <span id="1">1</span>
        <span id="2">2</span>
        <span id="3">3</span>
        <span id="0">0</span>
        <span id="C" class="clear">Clear</span>
    </div>
</div>
