{% extends 'webinterface/base.html' %}
{% load static %}
{% load staticfiles %}
{% load i18n %}
{% block extrahead %}
<style>
    .demo-container {
        width: 100%;
        max-width: 350px;
        margin: 50px auto;
    }
    form {
        margin: 30px;
    }
</style>
{% endblock %}
{% block content %}
    <h1 class="cover-heading danger">Available operations</h1>
    <p class="lead">
        <a href="{% url 'webinterface:balance' %}" class="btn btn-lg btn-info">View balance</a>
        <a href="{% url 'webinterface:withdraw' %}" class="btn btn-lg btn-success">Withdraw money</a>
        <a href="{% url 'webinterface:exit' %}" class="btn btn-lg btn-warning">Exit</a>
    </p>
{% endblock %}
