{% extends 'webinterface/base.html' %}
{% load static %}
{% load staticfiles %}
{% load i18n %}
{% block extrahead %}
<style>
    .demo-container {
        width: 100%;
        max-width: 400px;
        margin: 50px auto;
    }
    form {
        margin: 30px;
    }
</style>
<link href="{% static 'webinterface/css/keypad.css' %}" rel="stylesheet" type="text/css">
{% endblock %}
{% block content %}
    <h1 class="cover-heading">Please enter your pin</h1>
    <div class="demo-container">
        <div class="form-container active">
            <form role="form" class="form-inline" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <div class="input-group">
                        <input type="password" class="form-control" id="pin" name="pin" maxlength="4" readonly>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">OK</button>
                <a href="{% url 'webinterface:exit' %}" class="btn btn-warning">Exit</a>
            </form>
        </div>
        {% include "webinterface/keypad.html" %}
    </div>
{% endblock %}
{% block javascript_bottom %}
<script src="{% static 'webinterface/js/keypad.jquery.js' %}" type="text/javascript"></script>
{% endblock %}