/* Basic reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


/* Using box shadows to create 3D effects */
#keypad {
	width: 300px;
	height: auto;
	margin: 20px auto;
	padding: 20px 20px 9px;
}

/* Clear floats */
.keys {overflow: hidden;}

/* Applying same to the keys */
.keys span, .top span.clear {
	float: left;
	position: relative;
	top: 0;
	
	cursor: pointer;
	
	width: 66px;
	height: 36px;
	
	background: white;
	border-radius: 3px;
	
	margin: 0 7px 11px 0;
	
	color: #888;
	line-height: 36px;
	text-align: center;
	
	/* prevent selection of text inside keys */
	user-select: none;
	
	/* Smoothing out hover and active states using css3 transitions */
	transition: all 0.2s ease;
}

.keys span.clear {
	width: 139px;
	height: 36px;
	background: #ff9fa8;
	color: white;
}

/* Hover effects */
.keys span:hover {
	background: #1c89f6;
	color: white;
}

.keys span.clear:hover {
	background: #f68991;
	color: white;
}

/* Simulating "pressed" effect on active state */
.keys span:active {
	top: 4px;
}


.top span.clear:active {
	top: 4px;
}
